body {
    height: 100%;
    width: 100%;
    background-image: url(Backgrounds/utah-mountain-biking-bike-biking-71104.jpeg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}