<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/custom.css" th:href="@{css/custom.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/SideNavPushOpacity.css" th:href="@{css/SideNavPushOpacity.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/FixedHeader.css" th:href="@{css/FixedHeader.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/ParallaxBackground.css" th:href="@{css/ParallaxBackground.css}" />

    <title>Index</title>

</head>
<body>

<script src="js/SideNavPushOpacity.js"></script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/index">Home</a>
    <a href="#">Riders</a>
    <a href="/mtb">MTB</a>
    <a href="/bmx">BMX</a>
    <a href="/wake">Wake</a>
    <a href="/surf">Surf</a>
    <a href="/street">Street</a>
</div>

<div class="fixed-navbar">
    <span style="font-size:30px;cursor:pointer;color:white;padding:10px 10px 10px 10px;" onclick="openNav()">&#9776;</span>
    <a href="/login">Login</a>
</div>

<h2>BMX Home Page....</h2>







</body>
</html>