<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" media="all" href="../static/css/SideNavPushOpacity.css" th:href="@{css/SideNavPushOpacity.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/FixedHeader.css" th:href="@{css/FixedHeader.css}" />

	<style>
		body{

			background: #090909;
		}

	</style>
</head>
<body>

	<script src="js/SideNavPushOpacity.js"></script>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="/index">Home</a>
		<a href="#">Riders</a>
		<a href="/mtb">MTB</a>
		<a href="/bmx">BMX</a>
		<a href="/wake">Wake</a>
		<a href="/surf">Surf</a>
		<a href="/street">Street</a>
	</div>


	<div class="fixed-navbar">
		<span style="font-size:30px;cursor:pointer;color:white;padding:10px 10px 10px 10px;" onclick="openNav()">&#9776;</span>
	</div>

	<div class="reg-box">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form autocomplete="off" action="#" th:action="@{/registration}"
						  th:object="${user}" method="post" class="form-horizontal reg-form"
						  role="form">
						<h2 align="center" class="form-signin-heading">Registration Form</h2>
						<div style="margin-left: 90px" align="center" class="form-group">
							<div class="col-sm-9">
								<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
									   class="validation-message"></label>
								<input type="text" th:field="*{name}" placeholder="First Name"
									   class="form-control" />
							</div>
						</div>

						<div style="margin-left: 90px" align="center" class="form-group">
							<div class="col-sm-9">
								<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
										  class="validation-message"></label>
								<input type="text" th:field="*{lastName}"
									   placeholder="Last Name" class="form-control" />
							</div>
						</div>
						<div style="margin-left: 90px" align="center" class="form-group">
							<div class="col-sm-9">
								<input type="text" th:field="*{email}" placeholder="Email"
									   class="form-control" /> <label
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									class="validation-message"></label>
							</div>
						</div>
						<div style="margin-left: 90px" align="center" class="form-group">
							<div class="col-sm-9">
								<input type="password" th:field="*{password}"
									   placeholder="Password" class="form-control" /> <label
									th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
									class="validation-message"></label>
							</div>
						</div>

						<div style="margin-left: 90px" align="center" class="form-group">
							<div class="col-sm-9">
								<button type="submit" class="btn btn-info btn-block">Register User</button>
							</div>
						</div>
						<div align="center">
							<span th:utext="${successMessage}"></span>
						</div>


						<div align="center" style="margin-top: 40px">
							<a href="/login">Already a member?</a>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>