<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/custom.css" th:href="@{css/custom.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/SideNavPushOpacity.css" th:href="@{css/SideNavPushOpacity.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/FixedHeader.css" th:href="@{css/FixedHeader.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/ParallaxBackground.css" th:href="@{css/ParallaxBackground.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/street.css" th:href="@{css/street.css}" />

    <title>Index</title>

</head>
<body>

<script src="js/SideNavPushOpacity.js"></script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/index">Home</a>
    <a href="#">Riders</a>
    <a href="/mtb">MTB</a>
    <a href="/bmx">BMX</a>
    <a href="/wake">Wake</a>
    <a href="/surf">Surf</a>
    <a href="/street">Street</a>
</div>

<div class="fixed-navbar">
    <span style="font-size:30px;cursor:pointer;color:white;padding:10px 10px 10px 10px;" onclick="openNav()">&#9776;</span>
    <a href="/login">Login</a>
</div>

<!--<div class="heading">-->
<!--<h2>Surf</h2>-->
<!--</div>-->


<div id="boxTransparent">

    <div class="centerContent">

        <h2 class="heading centerText">Riders</h2>


        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Skaters/BobBurnquistProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Bob Burnquist</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Skaters/EricKostonProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Eric Koston</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Skaters/NyjahHoustonProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Nyjah Houston</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Skaters/RodneyMullenProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Rodney Mullen</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Skaters/TonyHawkProfile.jpg" /></a>
            </div>

            <div class="RightSideBoxName">
                <a href="#">Tony Hawk</a>
            </div>
        </div>


        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Skaters/PierreLucGagnonProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Pierre Luc Gagnon</a>
            </div>
        </div>

    </div>
</div>



<div id="boxBackground">
    <h2 class="centerText">Daily Video Feed</h2>
    <div class="currentVideos videoBoxCenterContent">

        <iframe class="embeddedVideo" src="https://www.youtube.com/embed/OnG6gF7P-Xk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

        <iframe class="embeddedVideo" src="https://www.youtube.com/embed/woiigfrANUM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

        <iframe class="embeddedVideo" src="https://www.youtube.com/embed/BBSYoyy6TKY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

        <iframe class="embeddedVideo" src="https://www.youtube.com/embed/VR-4Gh7WYzI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

    </div>
</div>


<div class="boxBottom">
    <h2 class="centerText">Gear Bag</h2>

    <div class="centerContent">

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">Beater Board</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Skaters/Gear/Alien-Workshop-Deprivation-Skateboard-Deck.jpg" /></a>
            </div>
        </div>

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">Bite Mount</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Skaters/Gear/Baker-Brand-Logo-Deck-8.0-Black-White-Skateboard-Deck.jpg" /></a>
            </div>
        </div>

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">GoPro 6</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Skaters/Gear/Bamboo-Skateboards-Geometricity-Graphic-Skateboard-Deck.jpg" /></a>
            </div>
        </div>

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">Docs Pro Plugs</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Skaters/Gear/Bamboo-Skateboards-Green-Fish-Graphic-Skateboard-Deck.jpg" /></a>
            </div>
        </div>
    </div>








</div>


<div id="spotBox">
    <h2 class="centerText">Recommended Spots</h2>
</div>





</body>
</html>