<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/custom.css" th:href="@{css/custom.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/SideNavPushOpacity.css" th:href="@{css/SideNavPushOpacity.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/FixedHeader.css" th:href="@{css/FixedHeader.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/ParallaxBackground.css" th:href="@{css/ParallaxBackground.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/surf.css" th:href="@{css/surf.css}" />

    <title>Index</title>

</head>
<body>

<script src="js/SideNavPushOpacity.js"></script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/index">Home</a>
    <a href="#">Riders</a>
    <a href="/mtb">MTB</a>
    <a href="/bmx">BMX</a>
    <a href="/wake">Wake</a>
    <a href="/surf">Surf</a>
    <a href="/street">Street</a>
</div>

<div class="fixed-navbar">
    <span style="font-size:30px;cursor:pointer;color:white;padding:10px 10px 10px 10px;" onclick="openNav()">&#9776;</span>
    <a href="/login">Login</a>
</div>

<!--<div class="heading">-->
    <!--<h2>Surf</h2>-->
<!--</div>-->


<div id="boxTransparent">

    <div class="centerContent">

        <h2 class="heading centerText">Riders</h2>


        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Surfers/FilipeToledoProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Filipe Toledo</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Surfers/FerreiraItaloProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Ferreira Italo</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Surfers/GabrielMedinaProfile2.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Gabriel Medina</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Surfers/JulianWilsonProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Julian Wilson</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Surfers/surfing-king-slater.jpg" /></a>
            </div>

            <div class="RightSideBoxName">
                <a href="#">Kelly Slater</a>
            </div>
        </div>


        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Surfers/OwenWrightProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Owen Wright</a>
            </div>
        </div>

    </div>
</div>



<div id="boxBackground">
    <h2 class="centerText">Daily Video Feed</h2>
        <div class="currentVideos videoBoxCenterContent">

            <iframe class="embeddedVideo" src="https://www.youtube.com/embed/aXeh7cJIXrM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

            <iframe class="embeddedVideo" src="https://www.youtube.com/embed/6z0QHtVRoQ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

            <iframe class="embeddedVideo" src="https://www.youtube.com/embed/xkuM8izh5R0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

            <iframe class="embeddedVideo" src="https://www.youtube.com/embed/ei6ALmEFhyA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

        </div>
</div>


<div class="boxBottom">
    <h2 class="centerText">Gear Bag</h2>

    <div class="centerContent">

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">Beater Board</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Surfers/Gear/beaterboard.jpg" /></a>
            </div>
        </div>

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">Bite Mount</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Surfers/Gear/bitemount.jpg" /></a>
            </div>
        </div>

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">GoPro 6</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Surfers/Gear/gopro6.jpg" /></a>
            </div>
        </div>

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">Docs Pro Plugs</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Surfers/Gear/docsproplugs.jpg" /></a>
            </div>
        </div>
    </div>








</div>


<div id="spotBox">
    <h2 class="centerText">Recommended Spots</h2>
</div>





</body>
</html>