<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/custom.css" th:href="@{css/custom.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/SideNavPushOpacity.css" th:href="@{css/SideNavPushOpacity.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/FixedHeader.css" th:href="@{css/FixedHeader.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/ParallaxBackground.css" th:href="@{css/ParallaxBackground.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/wake.css" th:href="@{css/wake.css}" />

    <title>Index</title>

</head>
<body>

<script src="js/SideNavPushOpacity.js"></script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/index">Home</a>
    <a href="#">Riders</a>
    <a href="/mtb">MTB</a>
    <a href="/bmx">BMX</a>
    <a href="/wake">Wake</a>
    <a href="/surf">Surf</a>
    <a href="/street">Street</a>
</div>

<div class="fixed-navbar">
    <span style="font-size:30px;cursor:pointer;color:white;padding:10px 10px 10px 10px;" onclick="openNav()">&#9776;</span>
    <a href="/login">Login</a>
</div>

<!--<div class="heading">-->
<!--<h2>Surf</h2>-->
<!--</div>-->


<div id="boxTransparent">

    <div class="centerContent">

        <h2 class="heading centerText">Riders</h2>


        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Wakeboarders/CoryTeunissenProfile.jpg" /></a>
            </div>

            <div class="RightSideBoxName">
                <a href="#">Cory Teunissen</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Wakeboarders/HarleyCliffordProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Harley Clifford</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Wakeboarders/MikeDowdyProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Mike Dowdy</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Wakeboarders/NicRapaProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Nic Rapa</a>
            </div>
        </div>

        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Wakeboarders/TonyIacconiProfile.jpg" /></a>
            </div>

            <div class="RightSideBoxName">
                <a href="#">Tony Iacconi</a>
            </div>
        </div>


        <div class="AthleteBox">



            <div class="RightSideBoxPic">
                <a href="#"><img src="images/Wakeboarders/MelissaMarquardtProfile.jpg" /></a>

            </div>

            <div class="RightSideBoxName">
                <a href="#">Melissa Marquardt</a>
            </div>
        </div>

    </div>
</div>



<div id="boxBackground">
    <h2 class="centerText">Daily Video Feed</h2>
    <div class="currentVideos videoBoxCenterContent">

        <iframe class="embeddedVideo" src="https://www.youtube.com/embed/9shRwpW2a8o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

        <iframe class="embeddedVideo" src="https://www.youtube.com/embed/1Zgse6PyE2k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

        <iframe class="embeddedVideo" src="https://www.youtube.com/embed/4xd28yKPnUk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

        <iframe class="embeddedVideo" src="https://www.youtube.com/embed/R3lrN_D-9QY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen = "1"></iframe>

    </div>
</div>


<div class="boxBottom">
    <h2 class="centerText">Gear Bag</h2>

    <div class="centerContent">

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">Hyperlite Board</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Wakeboarders/Gear/HyperliteBoard.jpg" /></a>
            </div>
        </div>

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">Hyperlite Team Rope</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Wakeboarders/Gear/HyperliteTeamWakeboardRope.jpg" /></a>
            </div>
        </div>

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">Ronix Boom Stick</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Wakeboarders/Gear/RonixBoomStick.jpg" /></a>
            </div>
        </div>

        <div class="AthleteBox">
            <div class="RightSideBoxName">
                <a href="#">Obrien Park Series</a>
            </div>
            <div class="GearBox">
                <a href="#"><img src="images/Wakeboarders/Gear/ObrienParkSeries.jpg" /></a>
            </div>
        </div>
    </div>








</div>


<div id="spotBox">
    <h2 class="centerText">Recommended Spots</h2>
</div>





</body>
</html>